/* General Styles */
.search-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.search-form {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: #f9f9f9; /* Light background */
  border: 1px solid #ccc; /* Add border */
  transition: box-shadow 0.3s ease; /* Smooth transition for shadow */
  font-size: 800;
}

.search-form:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

.search-input {
  padding-left: 1.5rem; /* Adjusted padding to fit icon */
  padding-right: 2.8rem; /* Adjusted padding to fit button */
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border: none;
  border-radius: 0; /* Remove rounded corners */
  width: 100%;
  background-color:#ffffff; /* Transparent background */
  color: #ccc;
  font-weight: 900;
  
}

.search-button {
  position: absolute;
  right: 0; /* Move to the right side */
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  border: none;
  background-color: #f04e98; /* Button color */
  color: #fff; /* Text color */
  cursor: pointer;
  border-radius: 0; /* Remove rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; /* Smooth transition for background */
}

.search-button:hover {
  background-color: #d04e98; /* Darker button color on hover */
}

.search-button svg {
  height: 1.95rem; /* Adjust the size of the icon */
  width: 1.35rem; /* Adjust the size of the icon */
}

.search-input:hover {
  border-color: #7a1313;
}

/* Focus Styles */
.search-input:focus {
  background-color: #ffffff; /* Change background color on focus */
  outline: none; /* Remove default outline */
}

/* Top Bar Styles */
.top-bar {
  background-color: #fff; /* White background */
  color: #333; /* Dark text color */
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end; /* Align items to the right end */
  align-items: center;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40; /* Ensure it stays on top of other elements */
  transition: background-color 0.3s ease; /* Smooth transition for background */
}

.contact-info {
  display: flex;
  align-items: center;
}

.whatsapp-icon {
  font-size: 30px; /* Adjust the size to make it bigger */
  color: #25d366; /* WhatsApp green color */
  margin-left: 8px; /* Add some spacing to the left */
}

.contact-info span {
  margin-left: 10px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .search-container {
    margin: 0;
    padding: 0 1rem;
  }

  .search-form {
    width: 100%;
  }

  .search-input {
    width: 100%;
    margin-right: 1rem;
  }

  .search-button {
    padding: 0.5rem;
  }

  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-bar span {
    margin-bottom: 5px;
  }

  .fixed + .flex {
    padding-top: 120px; /* Adjust this value to ensure the content below the navbar is not overlapped */
  }
}

/* Desktop Styles */
@media (min-width: 769px) {
  .search-container {
    margin-left: 10rem;
    margin-right: 3rem;
  }

  .search-form {
    width: 800px;
  }
}

nav.fixed {
  top: 60px; /* Adjust this value to ensure the navbar is below the top bar */
  transition: top 0.3s ease; /* Smooth transition for position */
}

nav.fixed.bg-white {
  top: 60px; /* Adjust this value to ensure the navbar is below the top bar when scrolled */
  background-color: #fff; /* White background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

/* Additional Styles for Close Button */
.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Animation for Menu */
.menu-animation {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for transform and opacity */
  opacity: 0;
  transform: translateY(-20px); /* Start position */
}

.menu-animation-open {
  opacity: 1;
  transform: translateY(0); /* End position */
}
