.enquiry-form-wrapper-mobile {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  padding: 20px;
}

.enquiry-form-container-mobile {
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 20px; /* Rounded corners */
  width: 100%;
  max-width: 400px;
  margin-top: 60px; /* Add top margin */
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  position: relative;
}

.enquiry-form-container-mobile .close-button {
  background: none;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.enquiry-form-container-mobile .close-button:hover {
  color: #f04e98;
}

.enquiry-form-container-mobile .close-button-mobile {
  background: none;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #888;
  transition: color 0.3s ease;
}

.enquiry-form-container-mobile .close-button-mobile:hover {
  color: #f04e98;
}

.enquiry-form-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.enquiry-form-mobile h1 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #f04e98; /* Updated header color */
  text-align: center; /* Centered text */
}

.enquiry-form-mobile .form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.enquiry-form-mobile .form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.enquiry-form-mobile .form-group input,
.enquiry-form-mobile .form-group textarea,
.enquiry-form-mobile .form-group select {
  width: 300px;
  padding: 15px; /* Increased padding */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.1em; /* Increased font size */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.enquiry-form-mobile .form-group input::placeholder,
.enquiry-form-mobile .form-group textarea::placeholder {
  font-size: 1em; /* Increased placeholder font size */
  color: #888;
}

.enquiry-form-mobile .form-group textarea {
  resize: none;
}

.enquiry-form-mobile .form-group.terms {
  display: flex;
  align-items: center;
}

.enquiry-form-mobile .form-group.terms input {
  width: auto;
  margin-right: 10px;
}

.enquiry-form-mobile .form-group.terms label {
  font-size: 0.9em;
}

.enquiry-form-mobile .form-group.terms a {
  color: #f04e98;
  text-decoration: none;
}

.enquiry-form-mobile .form-group.terms a:hover {
  text-decoration: underline;
}

.enquiry-form-mobile button {
  background-color: #f04e98;
  color: white;
  border: none;
  padding: 20px; /* Increased padding */
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.1em; /* Increased font size */
  width: 100%;
}

.enquiry-form-mobile button:hover {
  background-color: #c34aa3;
}

.success-message-mobile {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4BB543;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  z-index: 1001;
}

@media (min-width: 769px) {
  .send-enquiry-button-mobile {
      display: none;
  }
}
